/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
@keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-o-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-webkit-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-moz-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}

input
{
	color:black;
	background:white;
}

.enyo-panels
{
	margin:10px;
}
.enyo-panels > *
{
	box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow:-4px 0px 4px rgba(0,0,0,0.3);
}

.highlight
{
	animation: highlight 1s ease-in-out 1;
	-o-animation: highlight 1s ease-in-out 1;
	-webkit-animation: highlight 1s ease-in-out 1;
	-moz-animation: highlight 1s ease-in-out 1;
}
