/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
@keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-o-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-webkit-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}
@-moz-keyframes highlight {
  from {
	background-color: #C4E3FE;
  }
  to {
	background-color: #EAEAEA;
  }
}

input
{
	color:black;
	background:white;
}

.highlight
{
	animation: highlight 1s ease-in-out 1;
	-o-animation: highlight 1s ease-in-out 1;
	-webkit-animation: highlight 1s ease-in-out 1;
	-moz-animation: highlight 1s ease-in-out 1;
}

.onyx-item
{
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-top:1px solid rgba(255,255,255,0.5);
}

.enyo-list
{
	background-color:rgba(0,0,0,0.2);	
}

.centered-form
{
	width:50%;
	min-width:480px;
	margin-left:auto;
	margin-right:auto;
}

