/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
@import url("Animations.css");
input
{
	color:black;
	background:white;
}

.slidein
{
	animation: slidein 0.5s ease-in;
	-o-animation: slidein 0.5s ease-in;
	-webkit-animation: slidein 0.5s ease-in;
	-moz-animation: slidein 0.5s ease-in;
}

.fadeout
{
	animation: fadeout 0.5s ease-in;
	-o-animation: fadeout 0.25s ease-in;
	-webkit-animation: fadeout 0.5s ease-in;
	-moz-animation: fadeout 0.5s ease-in;
}

.slidein .fadeout
{
	transform-origin: 0% 100%;
	-o-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
}

.onyx-item
{
	border-bottom:1px solid rgba(0,0,0,0.2);
	border-top:1px solid rgba(255,255,255,0.5);
}

.recessed
{
	background-color:rgba(0,0,0,0.1);
}

.centered-form
{
	max-width:480px;
	margin-left:auto;
	margin-right:auto;
}
.centered-form > *
{
	margin:1em 0em;
}

.rowbutton
{
	display:block;
	width:100%;
}

.enyo-webview
{
	margin:0px;
	border:0px solid black;
	padding:0px;
}

.row-padding
{
	padding:0.5em;
}

.clipboard-row > *
{
	vertical-align:middle;
}

.clipboard-text
{
	padding:0ex 1ex;
}
